<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Font.Awesome" version="5.15.4" targetFramework="net48" />
  <package id="FontAwesome.Sharp" version="5.15.3" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.2015.Runtime" version="12.0.2.2402" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Runtime.Common" version="12.0.2402.15" targetFramework="net452" />
  <package id="Microsoft.ReportViewer.Runtime.WinForms" version="12.0.2402.15" targetFramework="net452" />
  <package id="Microsoft.SqlServer.Types" version="14.0.1016.290" targetFramework="net452" />
</packages>